

body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  background: linear-gradient(232deg, #ffff, #f2cd4b);
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header,
section,
footer {
  padding: 60px 20px;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}

button {
  background-color: #d90101;
  color: white;
  font-weight: 600;
  border: none;
  padding: 14px 28px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #d90101;
  color: black;
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: #1e40af;
}

.btn-secondary:hover {
  background-color: #1d4ed8;
  transform: translateY(-2px);
}

.profile-pic {
  width: 420px;
  height: 420px;
  object-fit: conver;
  border-radius: 10%;
  display: block;
  margin: 0 auto 40px;
  background: transparent;
  max-width: 100%;
  height: auto;


}

.services,
.steps,
.why-us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 40px;

}

.card {
  background: #f3f4f6;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  transition: 0.3s;
}


section#how-it-works {
  background: linear-gradient(120deg, #fffbe6, #fffbe6, #fffbe6, #d90101, #fffbe6, #d90101);

}

section#how-it-works h2 {
  color: black;
}




form {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

footer {
  background: #333;
  border-top: 1px solid #333;
  ;
  font-size: 0.9rem;
}

footer a {
  margin: 0 10px;
  color: #6b7280;
  text-decoration: none;
}


.footer-links a:hover{
transition: 0.3s;
  color: #fff;
}

#contact p a{
  color:#6b7280;

}

#contact p a:hover{
  color: #f2cd4b;
  transition: 0.3s;
}

#rights {
  color: #6b7280;
  margin-top: 5px;
}



/* Sticky Navbar */
nav {
  position: sticky;
  top: 0;
  background: #333;
  color: #f2cd4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #f2cd4b;
  font-weight: 600;
}

.nav-links a:hover {

  color: #d90101;
}

.header-link a {
  color: #f2cd4b;
  text-decoration: none;
}

.header-link a:hover {
  color: #d90101;
}


.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;


}

.hamburger div {
  width: 25px;
  height: 3px;
  background: #f2cd4b;
  border-radius: 2px;
}

@media (max-width: 480px) {
  .profile-pic {
    width: 160px;
  }
}


@media (max-width:768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }


  .nav-links a {
    color: #333;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width:768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  header,
  section,
  footer {
    padding: 40px 15px;
  }
}


